* {
    margin: 0;
    padding: 0;
}

#app {
    --light: #ffffff;
    --grey: #eee;
    --pale-dogwood: #ddc8c4ff;
    --primary: rgb(29, 104, 216);
    --eggplant: #6b4d57ff;
    --dark: #13070cff;
    min-height: 100vh;
    background-color: var(--light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}